@tailwind base;
@tailwind components;
@tailwind utilities;

.card-slider {
  .swiper {
    @apply pl-4 pr-32 lg:pr-40;
  }

  .swiper-slide {
    @apply h-auto;
  }
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.leaflet-popup {
  bottom: 20px !important;
}

.leaflet-div-icon {
  background: transparent;
  border: none;

  .badget {
    top: -2rem;
    right: 400% !important;

    .tip {
      width: 40px;
      height: 20px;
      position: absolute;
      left: 400%;
      top: 98%;
      margin-top: -1px;
      margin-left: -20px;
      overflow: hidden;
      pointer-events: none;

      .tip-box {
        @apply shadow border-l border-b border-gray-100 bg-white text-gray-500;

        width: 17px;
        height: 17px;
        padding: 1px;
        margin: -10px auto 0;
        pointer-events: auto;
        transform: rotate(45deg);
        display: block;
      }
    }

    &.active {
      .tip-box {
        @apply bg-red-600;
      }
    }
  }
}
